@{
    ViewBag.Title = "用户信息列表";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model List<Entity.Contrast_UserInfo>
<div>
    <table class="Tab_list" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                姓名
            </th>
            <th>
                年龄
            </th>
            <th>
                婚姻
            </th>
            <th>
                法人
            </th>
            <th>
                公司名称
            </th>
            <th>
                需求资金(万元)
            </th>
            <th>
                需求周期(月)
            </th>
            <th>
                可承受年利息
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    @(item.Privacies == true ? "已婚" : "未婚")
                </td>
                <td>
                    @item.LegalPerson
                </td>
                <td>
                    @item.CompanyName
                </td>
                <td>
                    @item.DemandMoney
                </td>
                <td>
                    @item.DemandMonth
                </td>
                <td>
                    @item.AcceptInterest%
                </td>
            </tr>
        }
    </table>
</div>
