@{
    ViewBag.Title = "审批流程";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    List<Entity.Contrast_WorkflowMainDetail> list = ViewBag.List;
}
@section head{
    <link href="@Url.Content("/Content/timeline.css")" rel="stylesheet" type="text/css" />
    <script>
        function btn_submit(status) {
            $("#hidStatus").val(status);
            $("form").submit();
        }
    </script>
}
@model Entity.Contrast_WorkflowMain
<div class="Div_Title">
    审批管理 -> 审批流程
</div>
<div>
    @using (Ajax.BeginForm("Detail", "Contrast_WorkflowMain", null, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <div>
            <input type="button" value="返回" onclick="window.location.href='@ViewBag.BackUrl" class="input_button" />
        </div>
        <br />
        <table class="Tab_info" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 20%">
                    公司名称：
                </td>
                <td style="width: 30%">
                    @Model.Contrast_UserInfo.Name @Html.HiddenFor(a => a.ID)
                </td>
                <td style="width: 20%; text-align: right; padding-right: 5px; font-weight: bold;">
                    组织机构：
                </td>
                <td style="width: 30%">
                    @Model.Contrast_Organization.Name
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    需求资金(万元)：
                </td>
                <td style="width: 30%">
                    @Model.Contrast_UserInfo.DemandMonth
                </td>
                <td style="width: 20%; text-align: right; padding-right: 5px; font-weight: bold;">
                    提供资金(万元)：
                </td>
                <td style="width: 30%">
                    @Model.Contrast_Organization.ProvideMoney
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    需求周期(月)：
                </td>
                <td style="width: 30%">
                    @Model.Contrast_UserInfo.DemandMoney
                </td>
                <td style="width: 20%; text-align: right; padding-right: 5px; font-weight: bold;">
                    提供周期(月)：
                </td>
                <td style="width: 30%">
                    @Model.Contrast_Organization.BeginMonth - @Model.Contrast_Organization.EndMonth
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    可承受利息：
                </td>
                <td style="width: 30%">
                    @Model.Contrast_UserInfo.AcceptInterest%
                </td>
                <td style="width: 20%; text-align: right; padding-right: 5px; font-weight: bold;">
                    年利息：
                </td>
                <td style="width: 30%">
                    @Model.Contrast_Organization.DemandInterest%
                </td>
            </tr>
        </table>
        
        <div class="content">
            <article>
                @{
        bool isStop = false;
        
                    }
                @foreach (var item in list)
                {
                    string color = null;
                    string status_str = "";
                    if (item.Status.HasValue)
                    {
                        if (item.Status.Value == 1)
                        {
                            //通过
                            color = "green";
                            status_str = "通过";
                        }
                        else
                        {
                            //未通过
                            color = "red";
                            status_str = "未通过";
                        }
                    }
                    else
                    {
                        if (isStop == false)
                        {   //审核中
                            color = "yellow";
                            status_str = "审核中";
                        }
                        else
                        {
                            //未进行
                            color = "blue";
                            status_str = "未审核";
                        }
                    }
                    <section>
                        <span class="point-time point-@color"></span>
                        <time datetime="2013-03">
                            <span>@item.CheckTime</span>
                        </time>
                        <aside>
                            <p class="things">@item.Title</p>
                            <p class="brief"><span  class="text-@color" style="width:55px;display:-moz-inline-box;display:inline-block;">@status_str</span>                           
                            @if (item.Status.HasValue)
                            { 
                                <span class="text-black" style="margin-left:20px;color:Black;width:150px;display:-moz-inline-box;display:inline-block;">操作人：@(item.Contrast_AccountName1 ?? Model.Contrast_Account.Name)</span>
                                <span class="text-black" style="margin-left:20px;color:Black;width:150px;display:-moz-inline-box;display:inline-block;cursor:pointer;" title="@item.Comment">备注：@(item.Comment)</span>
                            }</p>
                        </aside>
                    </section>
                            if (item.Status.HasValue == false)
                            {
                                isStop = true;
                            }
                }
            </article>
        </div>
                if (ViewBag.ShowOperation)
                { 
        <div style="margin: 0px auto 30px auto;">
            备注：
            <textarea style="width: 75%;" rows="8" name="comment" id="comment"></textarea>
            <input type="hidden" name="hidStatus" id="hidStatus" value="0" />
        </div>
                }
        <div>
            @if (ViewBag.ShowOperation)
            { 
                <input type="button" class="input_button" value="通过" onclick="btn_submit(1)" />
                <input type="button" class="input_button" value="不通过" onclick="btn_submit(0)" />
                <input type="submit" style="display: none" id="sub_button" />
            }
            <input type="button" value="返回" onclick="window.location.href='@ViewBag.BackUrl" class="input_button" />
        </div>
    }
</div>
