@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section head{
    <script>
    </script>
    <style>
        
    </style>
}
@model List<Entity.CustomTable_Main>
<div class="TitleDIV">
    @Html.ActionLink("创建自定义表", "AddCustomTable", "CustomTab", null, null)
</div>
<div>
    <table class="Tab_list" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                自定义表名
            </th>
            <th style="width: 150px;">
                创建日期
            </th>
            <th style="width: 150px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TableMain
                </td>
                <td>
                    @item.SaveDate.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td class="Operation">
                    @Html.ActionLink("修改", "EditCustomTable", "CustomTab", new { CMID = item.ID },null)
                    @Ajax.ActionLink("删除", "DeleteCustomTable", new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "if (confirm('你确定要删除吗')) { window.location.href='" + Url.Action("DeleteCustomTable", "CustomTab", new { CMID = item.ID }) + "'; }" })
                </td>
            </tr>
        }
    </table>
</div>
